@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>&nbsp;</p>
    <p></p>
    <p></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2>Welcome to TMSQPE system</h2>
</div>
