@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="col-lg-6">
    
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item">
            @ViewData[AppSystem.VD_PageID]
        </li>
        <li class="breadcrumb-item">
            @ViewData[AppSystem.VD_FormID]
        </li>
    </ol>
      
</div>
    
